{% extends "clinics/index.html" %}

{% block title %}<title>{{clinicName}}</title>{% endblock %}
{% block content %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<p class="h4 m-auto">
    <span class="badge badge-info w-100 pt-3 pb-3" style="font-size:72%">تردد عيادة {{clinicName}}<br><br> اليوم {% now "d-m-Y" %}</span>
</p>
<div class="pt-4 border">
    <form action="#" method="post" name="frequency" class="form" required>
        {% csrf_token %}
        <div class="cats_holder row">
            {% for cat in categories %}
            <div class="col-md-3 col-sm-6 mr-auto ml-auto border-bottom mb-2">
                <span class="d-inline-block h4 w-100">
                    <label class="badge badge-primary w-100 p-3">{{cat}}</label>
                </span>
                <p class="d-flex">
                    <input value="0" type="number" name="sp{{cat.id}}" class="text-center form-control custom" placeholder="اخصائى">
                    <input value="0" type="number" name="ad{{cat.id}}" class="text-center form-control custom" placeholder="استشارى">
                </p>
            </div>
            {% endfor %}
            <p class="row text-center h5">
                <span class="d-block col-md-3 col-sm-6 m-auto">
                    <label class="d-block badge badge-info w-100 p-3">اجمالى الروشتات</label>
                    <input value="0" type="number" name="papers" class="text-center form-control custom" placeholder="الروشتات">
                </span>
                <span class="d-block col-md-3 col-sm-6 m-auto">
                    <label class="d-block badge badge-info w-100 p-3">روشتات الاطفال</label>
                    <input value="0" type="number" name="childPapers" class="text-center form-control custom" placeholder="روشتات الاطفال">
                </span>
            </p>
            <div class="col-md-4 col-sm-10 m-auto">
                <input type="submit" name="frequency_form" class="d-block p-2 w-100  btn btn-danger btn-lg save" style="margin-top:32px" value="حفظ">
            </div>
        </div>

    </form>
</div>
{% endblock %}