{% extends "clinics/index.html" %}

{% block title %}<title>عيادة {{clinicName}}</title>{% endblock %}

{% block content %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<h6 class="text-center pt-3 pb-3">
    <span class="badge badge-info p-3">شكرا {{request.user.first_name}} {{request.user.last_name}} على إدخال تردد العيادة اليوم</span>
</h6>
<div class="row holder text-center border">
    <div class="col-md-6 col-sm-10 m-auto lead text-primary p-3" style="font-weight:bolder">
        تعاونك المثمر بإدخال التردد اليومى هو أحد أهم السبل التى توضح المجهود المبذولة من قبل عيادة {{clinicName}} لخدمة المنتفعين <br><hr> نتمنى يوما سعيدا لك يا {{request.user.first_name}} {{request.user.last_name}}
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6 col-sm-10 text-center m-auto">
        <span class="d-block badge badge-danger" style="white-space: pre-wrap;line-height: 1.3rem;">
            تنوية : لايمكن التعديل على البيانات إلا من خلال التواصل مع المسؤول
        </span>
    </div>
</div>
{% endblock %}

<script>
    window.location.replace(url);
</script>