hr {
    border: 2px solid #000000;
    clear:both;
    display:block;
    width: 96%;
    background-color:#343a40;
    height: 1px;
  }


 .border-bold{
     border:5px solid #000000;
 }

 .border-normal{
     border:1px solid #000000;
 }