{% extends "index.html" %}
<style>
    
</style>
{% block title %}<title>خدمة جديدة</title>{% endblock %}

{% block content %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

<div class="form_holder p-5 border">
    <form action="#" method="post" class="form" required>
        {% csrf_token %}
        <div class="row">
            <input class="d-none" id="randNum" value="{{randNum}}">
            <input class="d-none" id="urlNaid" value="{{naId}}">
            <div class="col-4">
              {{ form.serial|as_crispy_field }}
            </div>
            <div class="col-4">
              {{ form.name|as_crispy_field }}
            </div>
            <div class="col-4">
              {{ form.naId|as_crispy_field }}
            </div>
            <div class="col-4">
              {{ form.by_doctor|as_crispy_field }}
            </div>
            <hr>
            <div class="col-5">
              {{ form.law|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.ayada|as_crispy_field }}
            </div>
            <hr>
            <div class="col-4">
              {{ form.diagnosis|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.description|as_crispy_field }}
            </div>
            <div class="col-4">
              {{ form.price|as_crispy_field }}
            </div>
            <hr>
            <div class="col-6" id="id_services_holder">
              <p class="mt-0 mb-0"><label>إختر الخدمة / الخدمات</label></p>
              {{ form.services }}
            </div>
            <div class="col-6 h4">
              {{ form.entity|as_crispy_field }}
            </div>
            <hr>
            <div class="col-4">
                <input id="created_by" class="d-none" value="{{request.user.first_name}} {{request.user.last_name}}">
              {{ form.created_by|as_crispy_field }}
            </div>
            <div class="col-4 mr-auto">
                {% buttons %}
                    <button type="submit" class="btn btn-primary w-100 h-100 d-block" style="margin-top:32px">حفظ وطباعة</button>
                {% endbuttons %}
            </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script>
    setTimeout(function(){
        $(".form-control").css("font-size","1.5rem !important")
        console.log("asssssssss")
    }
    //

    //
    ,500)
  </script>
{% endblock %}