{% extends "index.html" %}
<style>
    
</style>
{% block title %}<title>خدمة جديدة</title>{% endblock %}

{% block content %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

<div class="form_holder p-5 border">
    <form action="#" method="post" class="form" required>
        {% csrf_token %}
        <div class="row">
            <input class="d-none" id="randNum" value="{{randNum}}">
            <input class="d-none" id="urlNaid" value="{{naId}}">
            <div class="col-4">
              {{ form1.serial|as_crispy_field }}
            </div>
            <div class="col-4">
              {{ form1.name|as_crispy_field }}
            </div>
            <div class="col-4">
              {{ form1.naId|as_crispy_field }}
            </div>
            <div class="col-4">
              {{ form1.by_doctor|as_crispy_field }}
            </div>
            <hr>
            <div class="col-5">
              {{ form1.law|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form1.ayada|as_crispy_field }}
            </div>
            <hr>
            <div class="col-4">
              {{ form1.diagnosis|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form1.description|as_crispy_field }}
            </div>
            <div class="col-4">
              {{ form1.price|as_crispy_field }}
            </div>
            <hr>
            <div class="col-6" id="id_services_holder">
              <p class="mt-0 mb-0"><label>إختر الخدمة / الخدمات</label></p>
              {{ form1.services }}
            </div>
            <div class="col-6 h4">
              {{ form1.entity|as_crispy_field }}
            </div>
            <hr>
            <div class="col-4">
                <input id="created_by" class="d-none" value="{{request.user.first_name}} {{request.user.last_name}}">
              {{ form1.created_by|as_crispy_field }}
            </div>
            <div class="col-4 mr-auto">
                {% buttons %}
                    <button type="submit" class="btn btn-primary w-100 h-100 d-block" style="margin-top:32px">حفظ وطباعة</button>
                {% endbuttons %}
            </div>
    </form>
</div>
{% endblock %}